.service1{
    background-color: rgb(223 48 48);
}
.service2{
    background-color: rgb(49 164 93);
}
.service3{
    background-color: rgb(38 134 75);
}
.service4{
    background-color: rgb(77 157 50);
}