.service1{
    background-color: rgb(10, 245, 151);
}
.service2{
    background-color: rgb(10, 245, 151);
}
.service3{
    background-color: rgb(10, 245, 151);
}
.service4{
    background-color: rgb(10, 245, 151);
}